.App {
  text-align: center;
  padding: 20px;
}

.app-header {
  display: flex;
  flex-direction: column; /* Для мобильной версии сначала */
  gap: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #e5e3e3;
}

.header-top {
  display: flex;
  justify-content: space-between; /* Заголовок слева, приветствие справа */
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: #cd7e7e;
}

.header-bottom {
  display: flex;
  justify-content: space-between; /* пространство между nav и кнопкой выхода */
  align-items: center;
  flex-wrap: wrap;
}

/* Навигация по центру */
.header-nav {
  display: flex;
  gap: 10px;
  flex: 1;                     /* nav занимает всё доступное место */
  justify-content: center;      /* выравнивание по центру */
}

.header-nav a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid white;
}

.header-nav a.active {
  color: white;
  background-color: rgb(39, 158, 103);
}

.logout-btn {
  padding: 0.5rem 1rem;
  background: #cc493a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.logout-btn:hover {
  background: #e7664f;
}

.add-btn {
  padding: 0.75rem 1.5rem;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
    margin-top: 1rem; /* добавит отступ сверху */
  transition: background 0.3s;
}

.add-btn:hover {
  background: #219a52;
}

.app-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* --- Адаптив --- */
@media (max-width: 768px) {
  .header-top {
    flex-direction: column; /* Заголовок сверху, приветствие ниже */
    align-items: flex-start;
    gap: 5px;
  }

  .header-bottom {
    flex-direction: row; /* Навигация и кнопка выхода в одной строке */
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .header-nav {
    flex-wrap: wrap;
  }
}
